
<div class="main-container d-flex justify-content-center">
    <div class="">
        <h1 class="app-Icon">{{app_name}}</h1>
        <h3 class="primary-label-text">Welcome Back !</h3>
        <h6 class="secondary-label-text">Log in to continue to {{app_name}}.</h6>

       <div class="card-box custom-card-box">
        <div class="input-field-box">
            <div class="input-field-label">
                Email
            </div>
            <input type="text" class="input-field" placeholder="Enter Your user Id/Email"/>


        </div>
        <div class="forgot-label" (click)="goToforgot()">
            Forgot Password ?
        </div>
        <div class="input-field-box mt-3">
            <div class="input-field-label">
                Password
            </div>
            <input type="password" class="input-field" placeholder="Enter Your user Password"/>


        </div>
        <div class="btn-wrapper mt-4">
            <app-button
            [label]="'Submit'"
            (clicked)="onSubmit()"
          ></app-button>
        </div>

        <h6 class="secondary-label-text">Don't have an account? <span class="sign-btn" (click)="goToSignUp()">Sign up</span></h6>


       </div>
       <h6 class="secondary-label-text">© 2025 {{app_name}}. All rights reserved.</h6>

  

    </div>

</div>



